<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871135617304-kcbe0t4nohq3pqp7r6a2g1j6lld1l0nj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871135617304-kcbe0t4nohq3pqp7r6a2g1j6lld1l0nj</string>
	<key>API_KEY</key>
	<string>AIzaSyBiaQaKl4RkKwQ_VR8c8t9jOFEvPR2-6-g</string>
	<key>GCM_SENDER_ID</key>
	<string>871135617304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kushal.StartUpIdea1</string>
	<key>PROJECT_ID</key>
	<string>mapfirebase-79c12</string>
	<key>STORAGE_BUCKET</key>
	<string>mapfirebase-79c12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871135617304:ios:297ba6e2913309b988fe6d</string>
	<key>DATABASE_URL</key>
	<string>https://mapfirebase-79c12-default-rtdb.firebaseio.com</string>
</dict>
</plist>